node_modules
.next
out
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.vscode
*.log
.idea
*.iml
dist
.cache
turbo
.pnp.*
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarnrc.yml


# Mac system files
.AppleDouble
.LSOverride
.node_modules
*.swp